<nav class="menu js-menu">
  <ul class="d-flex flex-nowrap justify-content-start justify-content-md-center list-unstyled">
    <li><a data-name="music" data-current="<%- current %>" href="javascript:;">音樂</a></li>
    <li><a data-name="opera" data-current="<%- current %>" href="javascript:;">戲劇</a></li>
    <li><a data-name="design" data-current="<%- current %>" href="design.html">設計</a></li>
    <li><a data-name="art" data-current="<%- current %>" href="javascript:;">藝術</a></li>
    <li><a data-name="food" data-current="<%- current %>" href="javascript:;">美食</a></li>
    <li><a data-name="travel" data-current="<%- current %>" href="javascript:;">旅遊</a></li>
    <li><a data-name="movie" data-current="<%- current %>" href="javascript:;">電影</a></li>
    <li><a data-name="parentChild" data-current="<%- current %>" href="javascript:;">親子</a></li>
    <li><a data-name="limitedTime" data-current="<%- current %>" href="javascript:;">期間限定</a></li>
  </ul>
</nav>